
button:hover{
    opacity: 60%;
    cursor: pointer;
}
.normalButton,
.greenButton,
.redButton{
    border : black 1px solid;
    border-radius: 10px;
    padding: 5px;
    height: 35px;
    width: 70%;
}
.normalButton{
    color: white;
    background: gray;
}
.greenButton{
    color: white;
    background: green;
}
.redButton, #inflatableDialog .redButton{
    color: white;
    background: red;
}

div .yellowTextBox{
    border: yellow 1px solid;
    color: yellow;
}
div .redTextBox{
    border-color: red;
    color: red;
}
div .greenTextBox{
    border: green;
    color: green;
}
div .grayTextBox{
    border: gray;
    color: gray;
}

#snackbar{
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 5;
    left: 50%;
    bottom: 30px;
}
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

